MOODIFY_NODE_STATE_DIR=/var/lib/moodify/state
MOODIFY_NODE_OUTPUT_ROOT=/var/lib/moodify/data_factory
MOODIFY_NODE_POLL_SECONDS=3
MOODIFY_NODE_LEASE_SECONDS=21600
MOODIFY_NODE_MAX_ATTEMPTS=3
MOODIFY_NODE_MIN_AVAILABLE_MB=600
MOODIFY_NODE_MIN_FREE_DISK_GB=5
MOODIFY_MAX_UPLOAD_BYTES=52428800
MOODIFY_MAX_RETAINED_JOBS=500
